<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>やることリスト</title>
	</head>
	<body>
		<h1>やることリスト</h1>
		<h3>新しいタスクを追加</h3>
		<form method="post" th:action="@{/add}">
			<input type="text" name="task" />
			<input type="date" name="timeLimit"/>
			<input type="submit" value="追加" />
		</form>
		<h3>タスク一覧</h3>
		<form method="post" th:action="@{/delete}" th:each="toDo : ${toDos}" >
			<input type="hidden" name="id" th:value="${todo.id}" />
			<input type="text" name="task"th:value="${todo.task}" />
			<input type="text" name="timelLimit"th:value="${todo.timeLimit}" />
			<input type="submit" value="削除" />
		</form>
	</body>
</html>